.cartlogo {
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background: url(../img/shop/cart.png);
	background-size: cover;
	position: fixed;
	right: 5px;
	bottom: 20%;
	border: solid 1px #c0c0c0;
	text-align: center;
	box-sizing: border-box;
	padding: 5px;
}

#numball {
	margin-top: 15px;
	width: 25px;
	height: 25px;
	font-size: 18px;
	border-radius: 50%;
	background: #f00;
	margin: auto;
	display: block;
	color: #fff;
}

.cartlogo:hover {
	border: solid 1px;
}

.cart {
	width: 1060px;
	position: fixed;
	bottom: 10%;
	display: none;
	background: rgba(192, 192, 192, 0.8);
	border-radius: 25px;
	border: solid 1px;
	z-index:999;
}

.foodbox {
	border-radius: 25px 25px 0 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding: 10px;
}

.cart-food {
	margin-left: 5px;
	width: 150px;
	heigth: 100px;
	background: #fff;
	float: left;
	border: solid 1px;
	border-radius: 15px;
	padding: 5px;
	margin: 2px;
}

#cart-title {
	width: 100%;
	height: 20px;
}

#cart-title * {
	float: right;
	margin:0 5px;
}

#min {
	width: 20px;
	height: 20px;
}

.cart-pic {
	width: 80px;
	height: 80px;
	border-radius: 15px;
	border: solid 1px;
	float: left;
}

.foodname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cartline {
	margin-top: 5px;
	background: #ffffff;
	width: 100%;
	height: 10%;
	vertical-align: middle;
	border-radius: 0 0 25px 25px;
	overflow: auto;
	box-sizing: border-box;
}

#total {
	float: left;
	font-size: 30px;
	border-radius: 25px;
}

#sub {
	float: right;
	font-size: 30px;
	background: #ff8000;
	height: 50px;
	border-radius: 0 0 25px 0;
	color: #000;
}